<component name="ArtifactManager">
  <artifact type="war" name="mybatis-demo1-anno:war">
    <output-path>$PROJECT_DIR$/mybatis-demo1-anno/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>mybatis-demo1-anno</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="mybatis-demo1-anno-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="mybatis-demo1-anno:war exploded" />
    </root>
  </artifact>
</component>