<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liuhui.dao.DepartmentMapper">


    <resultMap id="departmentMap" type="department">
        <!--        手动指定字段与实体属性的映射关系-->
        <!--
            column: 数据表的字段名称
            property: 实体的属性名称
        -->
        <id column="did" property="id"/>
        <result column="dep_name" property="dep_name"/>
        <result column="dep_location" property="dep_location"/>

        <!--        配置当前集合
                    property: 集合名称
                    ofType: 当前集合中数据类型
        -->
        <collection property="employeeList" ofType="Employee">
            <!--            封装employee的数据-->
        <result column="eid" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        </collection>

    </resultMap>

    <!--    查询所有-->
    <select id="findAll" resultMap="departmentMap">
        select e.id eid,
               e.NAME,
               e.age,
               d.dep_name,
               d.dep_location,
               d.id did
        from department d
                 join employee e
                      on d.id = e.dep_id
    </select>


</mapper>



