<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<h1 style="color: deeppink">@RequestBody测试</h1>
<form method="post" th:action="@{/testRequestBody}">
    <input type="text" name="username"><br/>
    <input type="text" name="password"><br/>
    <input type="submit" value="提交"><br/>
</form>

<h1 style="color: deeppink">RequestEntity测试</h1>
<form method="post" th:action="@{/testRequestEntity}">
    <input type="text" name="username"><br/>
    <input type="text" name="password"><br/>
    <input type="submit" value="提交"><br/>
</form>

<h1 style="color: deeppink">axios测试</h1>
<div id="app">
    <a @click="testAxios" th:href="@{/testAxios}">测试axios</a>
</div>

<h1 style="color: deeppink">文件上传</h1>
<form method="post" th:action="@{/testUp}" enctype="multipart/form-data">
    头像:<input type="file" name="photo"><br/>
    <input type="submit" value="上传">

</form>


</body>
</html>
<script th:src="@{static/js/vue.js}"></script>
<script th:src="@{static/js/axios.js}"></script>

<script>
    new Vue({
        el: "#app",
        methods: {
            async testAxios(e) {
                e.preventDefault();
                let {data} = await axios({
                    url: e.target.href,
                    method: "post",
                    params: {username: "张三", password: "123"}
                })
                console.log(data)

            }
        }
    })


</script>