<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a th:href="@{/user}">查询素有用户信息</a><br/>
<a th:href="@{/user/1}">根据id查询用户信息</a><br/>
<b>添加用户信息</b><br/>
<form th:action="@{/user}" method="post"><br/>
    <input type="text" name="username" placeholder="请输入用户名">
    <input type="text" name="password" placeholder="请输入密码">
    <input type="submit" value="提交"/>

</form>
<br>
<b>删除用户信息</b><br>
<a th:href="@{user/1}"></a>

<b>修改用户信息</b><br>
<form th:action="@{/user/我的}" method="post"><br/>
    <input type="hidden" name="_method" value="put"/>
    <input type="text" name="username" placeholder="请输入用户名"/>
    <input type="text" name="password" placeholder="请输入密码"/>
    <input type="submit" value="提交"/>

</form>

</body>
</html>